
@{
    ViewBag.Title = "jqGrid";
}

<h2>jqGrid</h2>

<html>
<head>
    <title>jqGrid</title>
    <style>
        .ui-jqgrid .ui-pg-input {
            height: 20px;
        }

        .ui-jqgrid .ui-jqgrid-pager {
            height: 40px;
        }

            .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
                font-size: 14px;
            }
    </style>

</head>
<body>
    <h2>jQGrid</h2>
    <table id="jqg"></table>
    <div id="jpager"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#jqg").jqGrid({
                url: '@Url.Action("GetData")',
                datatype: "json",
                colNames: ['Id', 'First Name', 'Last Name', 'Age'],
                colModel: [
                { name: 'Id', index: 'Id', width: 30, stype: 'text', key: true },
                { name: 'FirstName', index: 'FirstName', width: 150, editable: true, edittype: 'text', sortable: true },
                { name: 'LastName', index: 'LastName', width: 150, editable: true, edittype: 'text', sortable: true },
                { name: 'Age', index: 'Age', width: 80, align: "right", editable: true, edittype: 'text', sortable: true }
                ],
                rowNum: 10,
                rowList: [10, 20, 30],
                width: 800,
                pager: '#jpager',
                loadonce: true,
                sortname: 'Id',
                sortorder: "desc",
                caption: "Persons"
            });

            $("#jqg").jqGrid('navGrid', '#jpager', {

                search: true,
                searchtext: "Find",
                refresh: true,
                add: true, // добавление
                del: true, // удаление
                edit: true, // редактирование
                view: true, // просмотр записи
                viewtext: "Смотреть",
                viewtitle: "Выбранная запись",
                addtext: "Add",
                edittext: "Update",
                deltext: "Delete"
            },
            update("edit"), // обновление
            update("add"), // добавление
            update("del") // удаление
            );

            function update(act) {
                return {
                    closeAfterAdd: true, // закрыть после добавления
                    height: 250,
                    width: 400,
                    closeAfterEdit: true, // закрыть после редактирования
                    reloadAfterSubmit: true, // обновление
                    drag: true,
                    onclickSubmit: function (params) {
                        var list = $("#jqg");
                        var selectedRow = list.getGridParam("selrow");
                        rowData = list.getRowData(selectedRow);
                        if (act === "add")
                            params.url = '@Url.Action("Create")';
                        else if (act === "del")
                            params.url = '@Url.Action("Delete")';
                        else if (act === "edit")
                            params.url = '@Url.Action("Edit")';
                    },
                    afterSubmit: function (response, postdata) {
                        // обновление грида
                        $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid')
                        return [true, "", 0]
                    }
                };
            };
        });
    </script>
</body>
</html>

