
<div>
    <table>
        <tr>
            <td>
                <input type="text" id="resultWindow" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(1)">1</button>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(2)">2</button>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(3)">3</button>
                <button type="button" class="btn-lg btn-warning" onclick="ActionBtnPress('Add')">+</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(4)">4</button>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(5)">5</button>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(6)">6</button>
                <button type="button" class="btn-lg btn-warning" onclick="ActionBtnPress('Sub')">-</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(7)">7</button>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(8)">8</button>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(9)">9</button>
                <button type="button" class="btn-lg btn-warning" onclick="ActionBtnPress('Mul')">*</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn-lg btn-primary" onclick="NumBtnPress(0)" style="margin-left:50px">0</button>
                <button type="button" class="btn-lg btn-success" onclick="ActionBtnPress('=')">=</button>
                <button type="button" class="btn-lg btn-warning" onclick="ActionBtnPress('Div')">/</button>
            </td>
        </tr>
    </table>
</div>